body {
    @apply overscroll-none bg-transparent antialiased;
}

/* Theme presets */
[data-theme-preset="sunset-glow"] {
    --background: oklch(0.98 0.00 56.38);
    --foreground: oklch(0.22 0 0);
    --card: oklch(0.98 0.00 56.38);
    --card-foreground: oklch(0.22 0 0);
    --popover: oklch(0.98 0.00 56.38);
    --popover-foreground: oklch(0.22 0 0);
    --primary: oklch(0.47 0.15 24.94);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.96 0.04 89.09);
    --secondary-foreground: oklch(0.48 0.10 75.12);
    --muted: oklch(0.94 0.01 53.44);
    --muted-foreground: oklch(0.44 0.01 73.64);
    --accent: oklch(0.96 0.06 95.62);
    --accent-foreground: oklch(0.40 0.13 25.72);
    --destructive: oklch(0.44 0.16 26.90);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.94 0.03 80.99);
    --input: oklch(0.94 0.03 80.99);
    --ring: oklch(0.47 0.15 24.94);
    --chart-1: oklch(0.51 0.19 27.52);
    --chart-2: oklch(0.47 0.15 24.94);
    --chart-3: oklch(0.40 0.13 25.72);
    --chart-4: oklch(0.56 0.15 49.00);
    --chart-5: oklch(0.47 0.12 46.20);
    --sidebar: oklch(0.94 0.01 53.44);
    --sidebar-foreground: oklch(0.22 0 0);
    --sidebar-primary: oklch(0.47 0.15 24.94);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.96 0.06 95.62);
    --sidebar-accent-foreground: oklch(0.40 0.13 25.72);
    --sidebar-border: oklch(0.94 0.03 80.99);
    --sidebar-ring: oklch(0.47 0.15 24.94);

    @variant dark {
        --background: oklch(0.22 0.01 56.04);
        --foreground: oklch(0.97 0.00 106.42);
        --card: oklch(0.27 0.01 34.30);
        --card-foreground: oklch(0.97 0.00 106.42);
        --popover: oklch(0.27 0.01 34.30);
        --popover-foreground: oklch(0.97 0.00 106.42);
        --primary: oklch(0.51 0.19 27.52);
        --primary-foreground: oklch(0.98 0.00 56.38);
        --secondary: oklch(0.47 0.12 46.20);
        --secondary-foreground: oklch(0.96 0.06 95.62);
        --muted: oklch(0.27 0.01 34.30);
        --muted-foreground: oklch(0.87 0.00 56.37);
        --accent: oklch(0.56 0.15 49.00);
        --accent-foreground: oklch(0.96 0.06 95.62);
        --destructive: oklch(0.64 0.21 25.33);
        --destructive-foreground: oklch(1.00 0 0);
        --border: oklch(0.37 0.01 67.56);
        --input: oklch(0.37 0.01 67.56);
        --ring: oklch(0.51 0.19 27.52);
        --chart-1: oklch(0.71 0.17 22.22);
        --chart-2: oklch(0.64 0.21 25.33);
        --chart-3: oklch(0.58 0.22 27.33);
        --chart-4: oklch(0.84 0.16 84.43);
        --chart-5: oklch(0.77 0.16 70.08);
        --sidebar: oklch(0.22 0.01 56.04);
        --sidebar-foreground: oklch(0.97 0.00 106.42);
        --sidebar-primary: oklch(0.51 0.19 27.52);
        --sidebar-primary-foreground: oklch(0.98 0.00 56.38);
        --sidebar-accent: oklch(0.56 0.15 49.00);
        --sidebar-accent-foreground: oklch(0.96 0.06 95.62);
        --sidebar-border: oklch(0.37 0.01 67.56);
        --sidebar-ring: oklch(0.51 0.19 27.52);
    }
}

[data-theme-preset="ocean-breeze"] {
    --background: oklch(0.98 0.00 247.86);
    --foreground: oklch(0.28 0.04 260.03);
    --card: oklch(1.00 0 0);
    --card-foreground: oklch(0.28 0.04 260.03);
    --popover: oklch(1.00 0 0);
    --popover-foreground: oklch(0.28 0.04 260.03);
    --primary: oklch(0.59 0.20 277.12);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.93 0.01 264.53);
    --secondary-foreground: oklch(0.37 0.03 259.73);
    --muted: oklch(0.97 0.00 264.54);
    --muted-foreground: oklch(0.55 0.02 264.36);
    --accent: oklch(0.93 0.03 272.79);
    --accent-foreground: oklch(0.37 0.03 259.73);
    --destructive: oklch(0.64 0.21 25.33);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.87 0.01 258.34);
    --input: oklch(0.87 0.01 258.34);
    --ring: oklch(0.59 0.20 277.12);
    --chart-1: oklch(0.59 0.20 277.12);
    --chart-2: oklch(0.51 0.23 276.97);
    --chart-3: oklch(0.46 0.21 277.02);
    --chart-4: oklch(0.40 0.18 277.37);
    --chart-5: oklch(0.36 0.14 278.70);
    --sidebar: oklch(0.97 0.00 264.54);
    --sidebar-foreground: oklch(0.28 0.04 260.03);
    --sidebar-primary: oklch(0.59 0.20 277.12);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.93 0.03 272.79);
    --sidebar-accent-foreground: oklch(0.37 0.03 259.73);
    --sidebar-border: oklch(0.87 0.01 258.34);
    --sidebar-ring: oklch(0.59 0.20 277.12);

    @variant dark {
        --background: oklch(0.22 0.01 56.04);
        --foreground: oklch(0.97 0.00 106.42);
        --card: oklch(0.27 0.01 34.30);
        --card-foreground: oklch(0.97 0.00 106.42);
        --popover: oklch(0.27 0.01 34.30);
        --popover-foreground: oklch(0.97 0.00 106.42);
        --primary: oklch(0.51 0.19 27.52);
        --primary-foreground: oklch(0.98 0.00 56.38);
        --secondary: oklch(0.47 0.12 46.20);
        --secondary-foreground: oklch(0.96 0.06 95.62);
        --muted: oklch(0.27 0.01 34.30);
        --muted-foreground: oklch(0.87 0.00 56.37);
        --accent: oklch(0.56 0.15 49.00);
        --accent-foreground: oklch(0.96 0.06 95.62);
        --destructive: oklch(0.64 0.21 25.33);
        --destructive-foreground: oklch(1.00 0 0);
        --border: oklch(0.37 0.01 67.56);
        --input: oklch(0.37 0.01 67.56);
        --ring: oklch(0.51 0.19 27.52);
        --chart-1: oklch(0.71 0.17 22.22);
        --chart-2: oklch(0.64 0.21 25.33);
        --chart-3: oklch(0.58 0.22 27.33);
        --chart-4: oklch(0.84 0.16 84.43);
        --chart-5: oklch(0.77 0.16 70.08);
        --sidebar: oklch(0.22 0.01 56.04);
        --sidebar-foreground: oklch(0.97 0.00 106.42);
        --sidebar-primary: oklch(0.51 0.19 27.52);
        --sidebar-primary-foreground: oklch(0.98 0.00 56.38);
        --sidebar-accent: oklch(0.56 0.15 49.00);
        --sidebar-accent-foreground: oklch(0.96 0.06 95.62);
        --sidebar-border: oklch(0.37 0.01 67.56);
        --sidebar-ring: oklch(0.51 0.19 27.52);
    }
}

[data-theme-preset="desert-heat"] {
    --radius: 0.625rem;
    --background: oklch(0.91 0.048 83.6);
    --foreground: oklch(0.41 0.077 78.9);
    --card: oklch(0.92 0.042 83.6);
    --card-foreground: oklch(0.41 0.077 74.3);
    --popover: oklch(0.92 0.042 83.6);
    --popover-foreground: oklch(0.41 0.077 74.3);
    --primary: oklch(0.71 0.097 111.7);
    --primary-foreground: oklch(0.98 0.005 0);
    --secondary: oklch(0.88 0.055 83.6);
    --secondary-foreground: oklch(0.51 0.077 78.9);
    --muted: oklch(0.86 0.064 83.7);
    --muted-foreground: oklch(0.51 0.077 74.3);
    --accent: oklch(0.86 0.055 83.6);
    --accent-foreground: oklch(0.26 0.016 0);
    --destructive: oklch(0.63 0.24 29.2);
    --border: oklch(0.74 0.063 80.8);
    --input: oklch(0.74 0.063 80.8);
    --ring: oklch(0.51 0.077 74.3);
    --chart-1: oklch(0.41 0.05 55.36);
    --chart-2: oklch(0.47 0.06 59.14);
    --chart-3: oklch(0.54 0.08 60.8);
    --chart-4: oklch(0.62 0.09 66.39);
    --chart-5: oklch(0.68 0.09 74.32);
    --sidebar: oklch(0.87 0.059 83.7);
    --sidebar-foreground: oklch(0.41 0.077 78.9);
    --sidebar-primary: oklch(0.26 0.016 0);
    --sidebar-primary-foreground: oklch(0.98 0.005 0);
    --sidebar-accent: oklch(0.83 0.058 83.6);
    --sidebar-accent-foreground: oklch(0.26 0.016 0);
    --sidebar-border: oklch(0.91 0.005 0);
    --sidebar-ring: oklch(0.71 0.005 0);
    --primary-border: oklch(0.59 0.096 111.8);
    --destructive-foreground: oklch(0.97 0.018 0);
    --destructive-border: oklch(0.43 0.24 29.2);

    @variant dark {
        --background: oklch(0.145 0 0);
        --foreground: oklch(0.985 0 0);
        --card: oklch(0.205 0 0);
        --card-foreground: oklch(0.985 0 0);
        --popover: oklch(0.205 0 0);
        --popover-foreground: oklch(0.985 0 0);
        --primary: oklch(0.922 0 0);
        --primary-foreground: oklch(0.205 0 0);
        --secondary: oklch(0.269 0 0);
        --secondary-foreground: oklch(0.985 0 0);
        --muted: oklch(0.269 0 0);
        --muted-foreground: oklch(0.708 0 0);
        --accent: oklch(0.269 0 0);
        --accent-foreground: oklch(0.985 0 0);
        --destructive: oklch(0.704 0.191 22.216);
        --border: oklch(1 0 0 / 10%);
        --input: oklch(1 0 0 / 15%);
        --ring: oklch(0.556 0 0);
        --chart-1: oklch(0.488 0.243 264.376);
        --chart-2: oklch(0.696 0.17 162.48);
        --chart-3: oklch(0.769 0.188 70.08);
        --chart-4: oklch(0.627 0.265 303.9);
        --chart-5: oklch(0.645 0.246 16.439);
        --sidebar: oklch(0.205 0 0);
        --sidebar-foreground: oklch(0.985 0 0);
        --sidebar-primary: oklch(0.488 0.243 264.376);
        --sidebar-primary-foreground: oklch(0.985 0 0);
        --sidebar-accent: oklch(0.269 0 0);
        --sidebar-accent-foreground: oklch(0.985 0 0);
        --sidebar-border: oklch(1 0 0 / 10%);
        --sidebar-ring: oklch(0.556 0 0);
    }
}

[data-theme-preset="lake-view"] {
    --background: oklch(0.98 0.01 244.25);
    --foreground: oklch(0.37 0.03 259.73);
    --card: oklch(1.00 0 0);
    --card-foreground: oklch(0.37 0.03 259.73);
    --popover: oklch(1.00 0 0);
    --popover-foreground: oklch(0.37 0.03 259.73);
    --primary: oklch(0.72 0.19 149.58);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.95 0.03 236.82);
    --secondary-foreground: oklch(0.45 0.03 256.80);
    --muted: oklch(0.97 0.00 264.54);
    --muted-foreground: oklch(0.55 0.02 264.36);
    --accent: oklch(0.95 0.05 163.05);
    --accent-foreground: oklch(0.37 0.03 259.73);
    --destructive: oklch(0.64 0.21 25.33);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.93 0.01 264.53);
    --input: oklch(0.93 0.01 264.53);
    --ring: oklch(0.72 0.19 149.58);
    --chart-1: oklch(0.72 0.19 149.58);
    --chart-2: oklch(0.70 0.15 162.48);
    --chart-3: oklch(0.60 0.13 163.23);
    --chart-4: oklch(0.51 0.10 165.61);
    --chart-5: oklch(0.43 0.09 166.91);
    --sidebar: oklch(0.95 0.03 236.82);
    --sidebar-foreground: oklch(0.37 0.03 259.73);
    --sidebar-primary: oklch(0.72 0.19 149.58);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.95 0.05 163.05);
    --sidebar-accent-foreground: oklch(0.37 0.03 259.73);
    --sidebar-border: oklch(0.93 0.01 264.53);
    --sidebar-ring: oklch(0.72 0.19 149.58);
    --font-sans: DM Sans, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
    --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
    --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);

    @variant dark {
    }
}

[data-theme-preset="forest-whisper"] {
    --background: oklch(0.97 0.01 80.72);
    --foreground: oklch(0.30 0.04 30.20);
    --card: oklch(0.97 0.01 80.72);
    --card-foreground: oklch(0.30 0.04 30.20);
    --popover: oklch(0.97 0.01 80.72);
    --popover-foreground: oklch(0.30 0.04 30.20);
    --primary: oklch(0.52 0.13 144.17);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.96 0.02 147.64);
    --secondary-foreground: oklch(0.43 0.12 144.31);
    --muted: oklch(0.94 0.01 74.42);
    --muted-foreground: oklch(0.45 0.05 39.21);
    --accent: oklch(0.90 0.05 146.04);
    --accent-foreground: oklch(0.43 0.12 144.31);
    --destructive: oklch(0.54 0.19 26.72);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.88 0.02 74.64);
    --input: oklch(0.88 0.02 74.64);
    --ring: oklch(0.52 0.13 144.17);
    --chart-1: oklch(0.67 0.16 144.21);
    --chart-2: oklch(0.58 0.14 144.18);
    --chart-3: oklch(0.52 0.13 144.17);
    --chart-4: oklch(0.43 0.12 144.31);
    --chart-5: oklch(0.22 0.05 145.73);
    --sidebar: oklch(0.94 0.01 74.42);
    --sidebar-foreground: oklch(0.30 0.04 30.20);
    --sidebar-primary: oklch(0.52 0.13 144.17);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.90 0.05 146.04);
    --sidebar-accent-foreground: oklch(0.43 0.12 144.31);
    --sidebar-border: oklch(0.88 0.02 74.64);
    --sidebar-ring: oklch(0.52 0.13 144.17);

    @variant dark {
        --background: oklch(0.27 0.03 150.77);
        --foreground: oklch(0.94 0.01 72.66);
        --card: oklch(0.33 0.03 146.99);
        --card-foreground: oklch(0.94 0.01 72.66);
        --popover: oklch(0.33 0.03 146.99);
        --popover-foreground: oklch(0.94 0.01 72.66);
        --primary: oklch(0.67 0.16 144.21);
        --primary-foreground: oklch(0.22 0.05 145.73);
        --secondary: oklch(0.39 0.03 142.99);
        --secondary-foreground: oklch(0.90 0.02 142.55);
        --muted: oklch(0.33 0.03 146.99);
        --muted-foreground: oklch(0.86 0.02 76.10);
        --accent: oklch(0.58 0.14 144.18);
        --accent-foreground: oklch(0.94 0.01 72.66);
        --destructive: oklch(0.54 0.19 26.72);
        --destructive-foreground: oklch(0.94 0.01 72.66);
        --border: oklch(0.39 0.03 142.99);
        --input: oklch(0.39 0.03 142.99);
        --ring: oklch(0.67 0.16 144.21);
        --chart-1: oklch(0.77 0.12 145.30);
        --chart-2: oklch(0.72 0.14 144.89);
        --chart-3: oklch(0.67 0.16 144.21);
        --chart-4: oklch(0.63 0.15 144.20);
        --chart-5: oklch(0.58 0.14 144.18);
        --sidebar: oklch(0.27 0.03 150.77);
        --sidebar-foreground: oklch(0.94 0.01 72.66);
        --sidebar-primary: oklch(0.67 0.16 144.21);
        --sidebar-primary-foreground: oklch(0.22 0.05 145.73);
        --sidebar-accent: oklch(0.58 0.14 144.18);
        --sidebar-accent-foreground: oklch(0.94 0.01 72.66);
        --sidebar-border: oklch(0.39 0.03 142.99);
        --sidebar-ring: oklch(0.67 0.16 144.21);
    }
}

[data-theme-preset="lavender-dream"] {
    --background: oklch(0.97 0.01 314.78);
    --foreground: oklch(0.37 0.03 259.73);
    --card: oklch(1.00 0 0);
    --card-foreground: oklch(0.37 0.03 259.73);
    --popover: oklch(1.00 0 0);
    --popover-foreground: oklch(0.37 0.03 259.73);
    --primary: oklch(0.71 0.16 293.54);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.91 0.05 306.09);
    --secondary-foreground: oklch(0.45 0.03 256.80);
    --muted: oklch(0.95 0.03 307.17);
    --muted-foreground: oklch(0.55 0.02 264.36);
    --accent: oklch(0.94 0.03 321.94);
    --accent-foreground: oklch(0.37 0.03 259.73);
    --destructive: oklch(0.81 0.10 19.57);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.91 0.05 306.09);
    --input: oklch(0.91 0.05 306.09);
    --ring: oklch(0.71 0.16 293.54);
    --chart-1: oklch(0.71 0.16 293.54);
    --chart-2: oklch(0.61 0.22 292.72);
    --chart-3: oklch(0.54 0.25 293.01);
    --chart-4: oklch(0.49 0.24 292.58);
    --chart-5: oklch(0.43 0.21 292.76);
    --sidebar: oklch(0.91 0.05 306.09);
    --sidebar-foreground: oklch(0.37 0.03 259.73);
    --sidebar-primary: oklch(0.71 0.16 293.54);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.94 0.03 321.94);
    --sidebar-accent-foreground: oklch(0.37 0.03 259.73);
    --sidebar-border: oklch(0.91 0.05 306.09);
    --sidebar-ring: oklch(0.71 0.16 293.54);

    @variant dark {
        --background: oklch(0.22 0.01 56.04);
        --foreground: oklch(0.93 0.03 272.79);
        --card: oklch(0.28 0.03 307.23);
        --card-foreground: oklch(0.93 0.03 272.79);
        --popover: oklch(0.28 0.03 307.23);
        --popover-foreground: oklch(0.93 0.03 272.79);
        --primary: oklch(0.79 0.12 295.75);
        --primary-foreground: oklch(0.22 0.01 56.04);
        --secondary: oklch(0.34 0.04 308.85);
        --secondary-foreground: oklch(0.87 0.01 258.34);
        --muted: oklch(0.28 0.03 307.23);
        --muted-foreground: oklch(0.71 0.02 261.32);
        --accent: oklch(0.39 0.05 304.64);
        --accent-foreground: oklch(0.87 0.01 258.34);
        --destructive: oklch(0.81 0.10 19.57);
        --destructive-foreground: oklch(0.22 0.01 56.04);
        --border: oklch(0.34 0.04 308.85);
        --input: oklch(0.34 0.04 308.85);
        --ring: oklch(0.79 0.12 295.75);
        --chart-1: oklch(0.79 0.12 295.75);
        --chart-2: oklch(0.71 0.16 293.54);
        --chart-3: oklch(0.61 0.22 292.72);
        --chart-4: oklch(0.54 0.25 293.01);
        --chart-5: oklch(0.49 0.24 292.58);
        --sidebar: oklch(0.34 0.04 308.85);
        --sidebar-foreground: oklch(0.93 0.03 272.79);
        --sidebar-primary: oklch(0.79 0.12 295.75);
        --sidebar-primary-foreground: oklch(0.22 0.01 56.04);
        --sidebar-accent: oklch(0.39 0.05 304.64);
        --sidebar-accent-foreground: oklch(0.87 0.01 258.34);
        --sidebar-border: oklch(0.34 0.04 308.85);
        --sidebar-ring: oklch(0.79 0.12 295.75);
    }
}

[data-theme-preset="retro"] {
    --background: oklch(0.97 0.03 90.10);
    --foreground: oklch(0.31 0.05 219.65);
    --card: oklch(0.93 0.03 92.40);
    --card-foreground: oklch(0.31 0.05 219.65);
    --popover: oklch(0.93 0.03 92.40);
    --popover-foreground: oklch(0.31 0.05 219.65);
    --primary: oklch(0.59 0.20 355.89);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.64 0.10 187.38);
    --secondary-foreground: oklch(1.00 0 0);
    --muted: oklch(0.87 0.02 94.10);
    --muted-foreground: oklch(0.31 0.05 219.65);
    --accent: oklch(0.87 0.02 94.10);
    --accent-foreground: oklch(0 0 0);
    --destructive: oklch(0.59 0.21 27.12);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.81 0.02 93.38);
    --input: oklch(0.65 0.02 205.26);
    --ring: oklch(0.59 0.20 355.89);
    --chart-1: oklch(0.59 0.20 355.89);
    --chart-2: oklch(0.51 0.13 352.23);
    --chart-3: oklch(0.59 0.20 355.89);
    --chart-4: oklch(0.57 0.10 350.72);
    --chart-5: oklch(0.42 0.09 351.85);
    --sidebar: oklch(0.97 0.03 90.10);
    --sidebar-foreground: oklch(0.31 0.05 219.65);
    --sidebar-primary: oklch(0.59 0.20 355.89);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.64 0.10 187.38);
    --sidebar-accent-foreground: oklch(1.00 0 0);
    --sidebar-border: oklch(0.65 0.02 205.26);
    --sidebar-ring: oklch(0.59 0.20 355.89);

    @variant dark {
        --background: oklch(0.27 0.05 219.82);
        --foreground: oklch(0.70 0.02 196.79);
        --card: oklch(0.31 0.05 219.65);
        --card-foreground: oklch(0.70 0.02 196.79);
        --popover: oklch(0.31 0.05 219.65);
        --popover-foreground: oklch(0.70 0.02 196.79);
        --primary: oklch(0.59 0.20 355.89);
        --primary-foreground: oklch(1.00 0 0);
        --secondary: oklch(0.64 0.10 187.38);
        --secondary-foreground: oklch(1.00 0 0);
        --muted: oklch(0.52 0.03 219.14);
        --muted-foreground: oklch(0.70 0.02 196.79);
        --accent: oklch(0.39 0.07 219.19);
        --accent-foreground: oklch(1.00 0 0);
        --destructive: oklch(0.59 0.21 27.12);
        --destructive-foreground: oklch(1.00 0 0);
        --border: oklch(0.41 0.07 219.31);
        --input: oklch(0.52 0.03 219.14);
        --ring: oklch(0.59 0.20 355.89);
        --chart-1: oklch(0.59 0.20 355.89);
        --chart-2: oklch(0.51 0.13 352.23);
        --chart-3: oklch(0.57 0.10 350.72);
        --chart-4: oklch(0.45 0.08 350.22);
        --chart-5: oklch(0.42 0.09 351.85);
        --sidebar: oklch(0.27 0.05 219.82);
        --sidebar-foreground: oklch(0.70 0.02 196.79);
        --sidebar-primary: oklch(0.59 0.20 355.89);
        --sidebar-primary-foreground: oklch(1.00 0 0);
        --sidebar-accent: oklch(0.64 0.10 187.38);
        --sidebar-accent-foreground: oklch(1.00 0 0);
        --sidebar-border: oklch(0.52 0.03 219.14);
        --sidebar-ring: oklch(0.59 0.20 355.89);
    }
}
/* Theme presets */


/* Chart presets */
[data-theme-chart-preset="cyan"] {
    --chart-1: var(--color-cyan-800);
    --chart-2: var(--color-cyan-700);
    --chart-3: var(--color-cyan-600);
    --chart-4: var(--color-cyan-500);
    --chart-5: var(--color-cyan-400);
}

[data-theme-chart-preset="amber"] {
    --chart-1: var(--color-amber-800);
    --chart-2: var(--color-amber-700);
    --chart-3: var(--color-amber-600);
    --chart-4: var(--color-amber-500);
    --chart-5: var(--color-amber-400);
}

[data-theme-chart-preset="green"] {
    --chart-1: var(--color-green-800);
    --chart-2: var(--color-green-700);
    --chart-3: var(--color-green-600);
    --chart-4: var(--color-green-500);
    --chart-5: var(--color-green-400);
}

[data-theme-chart-preset="indigo"] {
    --chart-1: var(--color-indigo-800);
    --chart-2: var(--color-indigo-700);
    --chart-3: var(--color-indigo-600);
    --chart-4: var(--color-indigo-500);
    --chart-5: var(--color-indigo-400);
}

[data-theme-chart-preset="fuchsia"] {
    --chart-1: var(--color-fuchsia-800);
    --chart-2: var(--color-fuchsia-700);
    --chart-3: var(--color-fuchsia-600);
    --chart-4: var(--color-fuchsia-500);
    --chart-5: var(--color-fuchsia-400);
}
/* Chart presets */


/* Radius */
[data-theme-radius="none"] {
    --radius: 0rem;
}

[data-theme-radius="sm"] {
    --radius: .3rem;
}

[data-theme-radius="md"] {
    --radius: .5rem;
}

[data-theme-radius="lg"] {
    --radius: 1rem;
}

[data-theme-radius="xl"] {
    --radius: 1.5rem;
}

[data-theme-radius="none"] {
    --radius: 0rem;
}
/* Radius */


/* Scale */
[data-theme-scale="sm"] {
    --text-lg: 1.05rem;
    --text-base: 0.85rem;
    --text-sm: 0.75rem;
    --spacing: 0.222222rem;
}

[data-theme-scale="lg"] {
    --text-lg: 1.55rem;
    --text-base: 1.35rem;
    --text-sm: 1rem;
    --spacing: 0.262222rem;
}
/* Scale */


/* Font */
[data-theme-font="inter"] {
    --font-sans: var(--font-inter);
}

[data-theme-font="roboto"] {
    --font-sans: var(--font-roboto);
}

[data-theme-font="poppins"] {
    --font-sans: var(--font-poppins);
}

[data-theme-font="montserrat"] {
    --font-sans: var(--font-montserrat);
}

[data-theme-font="pt-sans"] {
    --font-sans: var(--font-pt-sans);
}

[data-theme-font="overpass-mono"] {
    --font-sans: var(--font-overpass-mono);
    letter-spacing: -.05em;
}
/* Font */